@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
  width: 90%;
  margin: 0 auto;
}



.flex a {
  padding: 0 20px;
}

.flex span {
  font-size: 16px;
  font-weight: 600;
  margin-right: 20px;
}

.flex .call,
.basket {
  padding-top: 3px;
  width: 33px;
  height: 23px;
  padding-right: 10px;
}

.min{
    display: inline;
    color: aquamarine;
}
 

.react-select__control {
    border: none !important; /* Remove the border */
    box-shadow: none !important; /* Remove the box-shadow */
  }
  
  .react-select__control--is-focused {
    border: none !important; /* Remove the border on focus */
    box-shadow: none !important; /* Remove the box-shadow on focus */
    outline: none !important; /* Remove the outline on focus */
  }
  
